<!DOCTYPE html>
<html>
<head>
  <title>Firebox</title>
  <%= stylesheet_link_tag    "firebox/application", :media => "all" %>
  <%= javascript_include_tag "firebox/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
